#This is the gitignore file
california_housing_train.csv
tutorial.py
test_1.py
__pycache__/
Apple Red 1/
Apple Red 2/
Apple Red 3/
Apple Red Delicious/
apple-orange-model.data-00000-of-00001
apple-orange-model.index
apple-orange-model.meta
checkpoint